#kut{
  background: linear-gradient(180deg, #FE0000 16.66%,
  #FD8C00 16.66%, 33.32%,
  #FFE500 33.32%, 49.98%,
  #119F0B 49.98%, 66.64%,
  #0644B3 66.64%, 83.3%,
  #C22EDC 83.3%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#img{
  width:30px;
  height:30px;
  float:right;

}
.shoep{
  float:right;
  width:25px;
  height:25px;
}
.links {
  width:90px;
  height:120px;
  float:left;
  display:block;
  background-color: white;
  border-style: solid 2px;
  border-color: black;
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 31%;
  position:absolute;
}
.rechts{
  width:90px;
  height:120px;
  float:left;
  display:block;
  background-color: white;
  border-style: solid 2px;
  border-color: black;
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 55%;
  position: absolute;
}
#input {

  margin-top: 5%;
  margin-left: 39%;
}
#Move {
  position:absolute;
  margin-left: 42%;
  margin-top: 5%;
}
